#root {
  margin: 10px 10px;
  justify-content: center;
  background-color:#f4fbfde5;
  height: 100vh;
}

/**----------------------------------------------Search----------------------------------------------------**/

#search {
  width: 25vw;
  margin: auto;
}

/**----------------------------------------------Todos------------------------------------------------------**/

.loading {
  margin-top: 50px;
  text-align: center;
  position: relative;
  left: 48vw;
}

.load {
  text-align: center;
  margin-top: 30px;
  color: #4e54c8;
  font-weight: 800;
}

.list {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* ---------------------------------------Filter------------------------------------- */

.filterContainer{
  display: flex;
  margin: auto;
  width: 23.5vw;
}

/* ---------------------------------------TodoCard------------------------------------- */

#table {
  display: flex;
  width: 79%;
  justify-content: center;
  align-items: center;
  min-height: 3em;
  height: auto;
  border: none;
  margin: 0 auto 0 auto;
  padding: 0;
  border-radius: 5px;
}

.todoContainer {
  width: 80%;
}

.toggleBtn {
  margin-left: 10px;
  display:flex;
  width: 5%;
}

.task {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  position: absolute;
  opacity: 0.85;
  min-width: 100px;
  text-align: center;
  right: 1vw;
  top: ㄚpx;
  color: rgba(255, 255, 255, 0.836);
}

/* ---------------------------------------GraphTodos------------------------------------ */

.graphTodo{
  
}

/* ---------------------------------------GraphTodoCard------------------------------------- */

.graphTodoCard{
  width: 100%;
}

.graphCardPriority{
  display: inline-block;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 15px;
  position: absolute;
  opacity: 0.85;
  min-width: 80px;
  text-align: center;
  right: 5px;
  top: 19px;
  color: rgba(255, 255, 255, 0.836);
}

